<div class="row">
  <div class="span6 offset3">
    <%= form_for(@new_solserv, :html => { :class => "form-horizontal"} ) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="control-group">
      <%= f.label :numero, :class => "control-label"  %>
        <div class="controls">
          <%= f.text_field :numero, :class => "input-mini", :placeholder => "" %>
        </div>
      </div>

      <div class="control-group">
      <%= f.label "Precio sin IVA", :class => "control-label"  %>
        <div class="controls">
          <div class="input-append">
            <%= f.text_field :precio_noiva,:id => "appendedInput", :class => "span2" %>
            <span class="add-on">€</span>
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.submit "Crea Solicitud", class: "btn btn-large btn-primary" %>
        </div>
      </div>

    <% end %>
  </div>
</div>